/* You can add global styles to this file, and also import other style files */
/* SLIDE THREE */
.slideThree {
	width: 80px;
	height: 26px;
	background: #333;
	margin: 0 15px 0 10px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'Não';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'Sim';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}


li.gd-menu a {
	padding-top: 12px !important;
	padding-bottom: 13px !important;
}

li.gd-menu a img { height: 25px; }

.box.box-primary > .box-header {
    background: #3c8dbc;
}

.box.box-danger > .box-header {
    background: #dd4b39;
}

.box.box-success > .box-header {
    background: #00a65a;
}

.box-header > h3 {
    font-weight: 700;
    color: #fff;
}

.info-box-legend {
    min-height: 30px !important;
    box-shadow: 0 0 !important;
}

.info-box-icon-legend {
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #fff;
}

.info-box-content-legend {
    margin-left: 25px !important;
}

.info-box-legend-green {
    background-color: #00a65a !important;
}

.info-box-legend-red {
    background-color: #dd4b39 !important;
}

.info-box-legend-yellow {
    background-color: #f39c12 !important;
}

.fixed-label { position: fixed !important; top: 0; right: 0; }

div.dataTables_paginate {
    margin: 10px 0 0 0;
    white-space: nowrap;
    text-align: center;
}

/*Dual List*/
.dual-list-group {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.list-group > button {
    border: 0px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

/*growl*/
.message_top_right {
    position: absolute;
    right: 5px;
    float: right;
    width: 200px;
}

/* Loading */
.spinner {
  margin: -34px auto;
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 12px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  margin: 2px;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/* bootstrap xl*/
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 1600px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 { float: left; }

  .col-xl-12 { width: 100%; }
  .col-xl-11 { width: 91.66666667%; }
  .col-xl-10 { width: 83.33333333%; }
  .col-xl-9 { width: 75%; }
  .col-xl-8 { width: 66.66666667%; }
  .col-xl-7 { width: 58.33333333%; }
  .col-xl-6 { width: 50%; }
  .col-xl-5 { width: 41.66666667%; }
  .col-xl-4 { width: 33.33333333%; }
  .col-xl-3 { width: 25%; }
  .col-xl-2 { width: 16.66666667%; }
  .col-xl-1 { width: 8.33333333%; }

  .col-xl-pull-12 { right: 100%; }
  .col-xl-pull-11 { right: 91.66666667%; }
  .col-xl-pull-10 { right: 83.33333333%; }
  .col-xl-pull-9 { right: 75%; }
  .col-xl-pull-8 { right: 66.66666667%; }
  .col-xl-pull-7 { right: 58.33333333%; }
  .col-xl-pull-6 { right: 50%; }
  .col-xl-pull-5 { right: 41.66666667%; }
  .col-xl-pull-4 { right: 33.33333333%; }
  .col-xl-pull-3 { right: 25%; }
  .col-xl-pull-2 { right: 16.66666667%; }
  .col-xl-pull-1 { right: 8.33333333%; }
  .col-xl-pull-0 { right: auto; }

  .col-xl-push-12 { left: 100%; }
  .col-xl-push-11 { left: 91.66666667%; }
  .col-xl-push-10 { left: 83.33333333%; }
  .col-xl-push-9 { left: 75%; }
  .col-xl-push-8 { left: 66.66666667%; }
  .col-xl-push-7 { left: 58.33333333%; }
  .col-xl-push-6 { left: 50%; }
  .col-xl-push-5 { left: 41.66666667%; }
  .col-xl-push-4 { left: 33.33333333%; }
  .col-xl-push-3 { left: 25%; }
  .col-xl-push-2 { left: 16.66666667%; }
  .col-xl-push-1 { left: 8.33333333%; }
  .col-xl-push-0 { left: auto; }

  .col-xl-offset-12 { margin-left: 100%; }
  .col-xl-offset-11 { margin-left: 91.66666667%; }
  .col-xl-offset-10 { margin-left: 83.33333333%; }
  .col-xl-offset-9 { margin-left: 75%; }
  .col-xl-offset-8 { margin-left: 66.66666667%; }
  .col-xl-offset-7 { margin-left: 58.33333333%; }
  .col-xl-offset-6 { margin-left: 50%; }
  .col-xl-offset-5 { margin-left: 41.66666667%; }
  .col-xl-offset-4 { margin-left: 33.33333333%; }
  .col-xl-offset-3 { margin-left: 25%; }
  .col-xl-offset-2 { margin-left: 16.66666667%; }
  .col-xl-offset-1 { margin-left: 8.33333333%; }
  .col-xl-offset-0 { margin-left: 0; }
}


.visible-la, .visible-xl {
  display: none !important;
}


.visible-la-block, .visible-la-inline, .visible-la-inline-block,
.visible-xl-block, .visible-xl-inline, .visible-xl-inline-block {
  display: none !important;
}


@media (min-width: 1200px) and (max-width: 1599px) {
	.visible-la { display: block !important; }
	table.visible-la { display: table !important; }
	tr.visible-la { display: table-row !important; }
	th.visible-la, td.visible-la { display: table-cell !important; }
	.visible-la-block { display: block !important; }
	.visible-la-inline { display: inline !important; }
	.visible-la-inline-block { display: inline-block !important; }
}

@media (min-width: 1600px) {
	.visible-xl { display: block !important; }
	table.visible-xl { display: table !important; }
	tr.visible-xl { display: table-row !important; }
	th.visible-xl, td.visible-xl { display: table-cell !important; }
	.visible-xl-block { display: block !important; }
	.visible-xl-inline { display: inline !important; }
	.visible-xl-inline-block { display: inline-block !important; }
}


@media (min-width: 1200px) and (max-width: 1599px) {
	.hidden-la { display: none !important; }
}

@media (min-width: 1600px) {
	.hidden-xl { display: none !important; }
}
